/***************Element selectors*********************/
body {
  font-family: 'Crimson Pro', serif;
  margin: 0;
  text-align: center;
  color: #40514E;
  background-color:#512b58;
}

H1 {
  color: #ffe227;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: 'Amatic SC', cursive;
  font-weight: normal;
  font-size: 2.5rem;
  padding-bottom:10px;
}

h3 {
  color: #11999e;
  font-family: 'Roboto', sans-serif;
}

hr {
  border: 7px dotted #EAF6F6;
  border-bottom: none;
  width: 6%;
  margin: 100px auto 100px auto;
}

p {line-height: 2;}

a {
  color: #11999e;
}

a:hover {
  color: #EAF6F6;
  text-decoration: underline;
}

/***************Class selectors*********************/
.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #2c003e;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 350px;
}

.middle-container {margin: 100px auto;
  background-color:#ffa372;
  padding-top: 50px;
  padding-bottom: 20px;
}

.intro {
  width: 40%;
  margin: auto;
}


.skill-row {
  margin: 50px auto 0px auto;
  width: 50%;
  text-align: left;
  padding: 100px;
}

.DieterProfile {
  width: 20%;
  border-radius: 100%;
}

.Taiga {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.space {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  margin: 100px auto 100px auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container { margin: 100 px auto;
  padding: 50px;
  background-color: #2c003e;
  color: #EAF6F6;
}

.copyright {font-size: 0.8rem;
padding: 20px 0px;}

.btn {
   background: #3DDCF6;
   background-image: -webkit-linear-gradient(top, #3DDCF6, #1EC8D0);
   background-image: -moz-linear-gradient(top, #3DDCF6, #1EC8D0);
   background-image: -ms-linear-gradient(top, #3DDCF6, #1EC8D0);
   background-image: -o-linear-gradient(top, #3DDCF6, #1EC8D0);
   background-image: -webkit-gradient(to bottom, #3DDCF6, #1EC8D0);
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   color: #FFFFFF;
  font-family: 'Crimson Pro', serif;
   font-size: 20px;
   font-weight: 200;
   padding: 23px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1EB7D0;
   background-image: -webkit-linear-gradient(top, #1EB7D0, #3DA8F6);
   background-image: -moz-linear-gradient(top, #1EB7D0, #3DA8F6);
   background-image: -ms-linear-gradient(top, #1EB7D0, #3DA8F6);
   background-image: -o-linear-gradient(top, #1EB7D0, #3DA8F6);
   background-image: -webkit-gradient(to bottom, #1EB7D0, #3DA8F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}


.footer-link {
  padding: 50px;
  text-decoration: none;
  font-weight: bold;
}
